.nav-container {
    height: 60px;
  
 
}

.nav-parent {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
   flex: 1;
}

.center{
    flex: 1;
 }

 .right{
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }



 .MenuItem {
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
 }


 @media screen and (max-width: 380px) {
   .nav-container {
      height: 50px;
   }
   .nav-parent{
      padding: 10px 0px;
   }
   .right{
      flex: 2;
      justify-content: center;
   }
   .MenuItem{
      font-size: 12px;
      margin-left: 10px;
   }
 }